.input {
    background-color: lightblue;
}

.button {
    margin: 5px;
    width: 60px;
    background-color: aquamarine;
}

.error {
    border: 2px solid red;
}

.errorMessage {
    height: 24px;
    color: red;
}
